img {
    width: 120px;
    height: 120px;
}

.circle {
    border-radius: 50%;
}

.green {
    border: 5px solid #73ce67;
}

.yellow {
    border: 5px solid #ddd318;
}

.red {
    border: 5px solid #cd3f3f;
}

.f17 {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    justify-content: center;
}

.amarelo {
    order: 1;
    align-self: flex-end;
}