img {
    width: 120px;
    height: 120px;
}

.circle {
    border-radius: 50%;
}

.green {
    border: 5px solid #73ce67;
}

.yellow {
    border: 5px solid #ddd318;
}

.red {
    border: 5px solid #cd3f3f;
}

.f22 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    height: 100vh;
    width: 100vh;
    align-items: center;
}